<div class="order_summary_card">
  <p class="card_title">Order Summary</p>

  <div class="price_details_container">
    <div class="price_detail_line">
      <p>Price</p>
      <p>$319.98</p>
    </div>

    <div class="price_detail_line">
      <p>Discount</p>
      <p>$31.9</p>
    </div>

    <div class="price_detail_line">
      <p>Shipping</p>
      <p class="shipping">Free</p>
    </div>

    <div class="price_detail_line">
      <p>Coupon Applied</p>
      <p>$0.00</p>
    </div>
  </div>

  <div class="divider_line"></div>

  <div class="checkout_details">
    <div class="checkout_line">
      <p>TOTAL</p>
      <p>$288.08</p>
    </div>

    <div class="checkout_line">
      <p>Estimated Delivery by</p>
      <p>01 Feb, 2023</p>
    </div>
  </div>

  <div class="coupon_container">
    <input type="text" placeholder="Coupon Code" />
    <img src="../../../assets/icons/coupon.svg" />
  </div>

  <button class="btn_checkout">Proceed to Checkout</button>
</div>
