<div class="register-container">
  <form class="register-card" (ngSubmit)="registerHandler()">
    <h2 class="register-card-title">Sign up</h2>
    <p class="register-card-subtitle">Sign up using your informations.</p>

    <div class="register-card-input-container">
      <i class="fa-solid fa-user register-card-input-icon"></i>
      <input
        type="text"
        placeholder="Enter your firstName"
        class="register-card-input"
        [(ngModel)]="firstName"
        name="firstName"
      />
    </div>

    <div class="register-card-input-container">
      <i class="fa-solid fa-user register-card-input-icon"></i>
      <input
        type="text"
        placeholder="Enter your lastName"
        class="register-card-input"
        [(ngModel)]="lastName"
        name="lastName"
      />
    </div>

    <div class="register-card-input-container">
      <i class="fa-solid fa-envelope register-card-input-icon"></i>
      <input
        type="text"
        placeholder="Enter your email"
        class="register-card-input"
        [(ngModel)]="email"
        name="email"
      />
    </div>

    <div class="register-card-input-container">
      <i class="fa-solid fa-lock register-card-input-icon"></i>
      <input
        type="password"
        placeholder="Enter your password"
        class="register-card-input"
        [(ngModel)]="password"
        name="password"
      />
    </div>

    <button type="button" class="register-card-btn" (click)="registerHandler()">
      Sign up
    </button>

    <div class="register-card-account">
      You have an account?
      <span routerLink="/auth/login" class="register-card-account-signup"
        >Sign in</span
      >
    </div>

    <hr class="register-card-devider" />

    <h4 class="register-card-or">Or sign up with</h4>

    <div class="register-card-btn-group">
      <div class="register-card-btn-group-btn">
        <i class="fa-brands fa-facebook-f"></i>
      </div>
      <div class="register-card-btn-group-btn">
        <i class="fa-brands fa-twitter"></i>
      </div>
      <div class="register-card-btn-group-btn">
        <i class="fa-brands fa-github"></i>
      </div>
      <div class="register-card-btn-group-btn">
        <i class="fa-brands fa-google"></i>
      </div>
    </div>
  </form>

  <img
    src="/assets/images/Rectangle 57.png"
    alt="shape"
    class="register-container-shape-1"
  />
  <img
    src="/assets/images/Rectangle 58.png"
    alt="shape"
    class="register-container-shape-2"
  />
</div>
