<div class="product_details_page">
  <div class="product_details_left">
    <a href="/products">
      <img src="../../../../assets/icons/back.svg" class="icon_back" />
    </a>

    <div class="navs">
      <div class="product_type">Chair</div>
      /
      <div class="product_name">Meryl Lounge Chair</div>
    </div>

    <div class="main_product_title">Meryl Lounge Chair</div>

    <div class="product_details">
      <p class="price">$149.99</p>

      <div class="rate_container">
        <div class="star"></div>

        <div class="rate_note">4.6 / 5.0 <span>(556)</span></div>
      </div>
    </div>

    <p class="product_description">
      The gently curved lines accentuated by sewn details are kind to your body
      and pleasant to look at. Also, there’s a tilt and height-adjusting
      mechanism that’s built to outlast years of ups and downs.
    </p>

    <div class="product_available_colors">
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
    </div>

    <div class="add_to_cart_container">
      <div class="number_of_items">
        <span class="minus">-</span>
        <span>1</span>
        <span class="add">+</span>
      </div>

      <button class="btn_add_to_cart">Add to Cart</button>
    </div>

    <p class="extra_info">
      Free 3-5 day shipping • Tool-free assembly • 30-day trial
    </p>

    <div class="bottom">
      <div class="fav">
        <img src="../../../../assets/icons/heart.svg" />
        <p>Add to Wishlist</p>
      </div>

      <div class="social_media_icons">
        <img src="../../../../assets/icons/facebook.svg" />
        <img src="../../../../assets/icons/twitter.svg" />
        <img src="../../../../assets/icons/pinterest.svg" />
        <img src="../../../../assets/icons/instagram.svg" />
      </div>
    </div>
  </div>

  <div class="product_details_right">
    <div class="img_number">
      <p>01</p>
      <span>/ 05</span>
    </div>

    <div class="side_icons">
      <img src="../../../../assets/icons/chevron-left.svg" />
      <img src="../../../../assets/icons/chevron-right.svg" />
    </div>

    <div class="product_image_container">
      <img src="../../../../assets/images/product.jpg" class="product_image" />
    </div>

    <div class="product_images_details">
      <img src="../../../../assets/images/product_6.jpg" class="active" />
      <img src="../../../../assets/images/product_2.jpg" />
      <img src="../../../../assets/images/product_3.jpg" />
      <img src="../../../../assets/images/product_4.jpg" />
      <img src="../../../../assets/images/product_5.jpg" />
    </div>
  </div>
</div>
