<header class="header">
  <div class="header_left">
    <img src="../../../assets/images/logo.png" class="logo" />

    <ul class="nav_list">
      <li><a href="/shop">SHOP</a></li>
      <li><a href="/collective">COLLECTIVE</a></li>
      <li><a href="/designers">DESIGNERS</a></li>
      <li><a href="/about-us">ABOUT US</a></li>
      <li><a href="/contact-us">CONTACT US</a></li>
    </ul>

    <img src="../../../assets/icons/menu.svg" />
  </div>

  <div class="header_right">
    <a href="/cart"> <img src="../../../assets/icons/cart_icon.svg" /></a>
  </div>
</header>
