@use "../../../assets/styles/index" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #d1d1d8;
  padding: 0 4rem;
  height: 8rem;

  .header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;

    .nav_list {
      display: flex;
      align-items: center;
      gap: 4.1rem;
      list-style: none;

      @include mq(851, max) {
        display: none;
      }

      li {
        color: var(--Space-Cadet, #17183b);
        line-height: 1.6rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
  }

  .header_right {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #d1d1d8;
    height: 100%;
    padding-left: 4rem;
    position: relative;

    &::before {
      content: "0";
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #6a983c;
      position: absolute;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      top: 1.5rem;
      left: 2.5rem;
      color: #fff;
      font-size: 1.4rem;
    }

    .cart_icon {
      width: 2.5rem;
      height: auto;
    }
  }

  .current_user {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    background-color: white;

    .user_info {
      color: #555b6d;

      .name {
        font-size: 1.3rem;
      }

      .role {
        font-size: 1rem;
      }
    }

    .icon_down {
      width: 2.5rem;
    }
  }
}
