<div class="product_card_container">
  <img src="../../../assets/images/product.png" />

  <p class="reduction">- 36 %</p>

  <div class="typo">
    <p class="product_title">Product title</p>
    <p class="product_description">Space for a small product description</p>
  </div>

  <div class="product_card_bottom">
    <div class="price_container">
      <p class="price">36.99 USD</p>

      <p class="old_price">48.56</p>
    </div>

    <button class="product_card_btn">Add</button>
  </div>
</div>
