<div class="sideBar">
  <img src="../../../assets/images/logo.png" class="logo" />

  <div class="nav_list">
    <a href="/admin/dashboard" class="nav_item active">
      <img src="../../../assets/icons/dashboard.svg" />
      <p>Dashboard</p>
    </a>

    <a href="/admin/users" class="nav_item">
      <img src="../../../assets/icons/user.svg" />
      <p>Users</p>
    </a>

    <a href="/admin/orders" class="nav_item">
      <img src="../../../assets/icons/orders.svg" />
      <p>Orders</p>
    </a>

    <a href="/admin/products" class="nav_item">
      <img src="../../../assets/icons/product.svg" />
      <p>Products</p>
    </a>
  </div>
</div>
