.page_home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  h1 {
    color: #b5b5b5;
    font-size: 22rem;
  }

  h2 {
    color: #4a4b65;
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.6rem;
    color: #737491;
    margin-bottom: 3rem;
  }

  button {
    background: #6a983c;
    border: none;
    color: white;
    width: 25rem;
    height: 4.4rem;
    border-radius: 1.2rem;
    cursor: pointer;
  }
}
