<div class="cart_product_card">
  <div class="cart_product_left">
    <img src="../../../assets/images/product_1.jpg" class="product_img" />

    <div class="product_details_container">
      <p class="product_name">Osmond Armchair</p>

      <div class="color_details">Color : <span>Gunnared biege</span></div>

      <div class="quantity">
        <div class="container">
          <span>-</span>
          <span class="number">2</span>
          <span>+</span>
        </div>

        <p class="remove">Remove</p>
      </div>
    </div>
  </div>

  <div class="price">$149.99</div>
</div>
